<a href="https://colab.research.google.com/github/als3057/python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch1. 파이썬 문법  
## 자료형  
**숫자형**  
* 정수 : 123, 456, 0, -30  
* 실수 : 12, 345, -987, 65, 0.7e6  
* 8진수 : 0o765, 0o123  
* 16진수 : 0x00, 0x0A, 0xFF  

**변수**
* 문자, 또는 밑줄로 시작(_kim, alpha)  
* 대소문자 구분(sum, Sum, SUM)  
* 영문자, 숫자, 밑줄(A-z, 0-9, _)  
 ex) sun_9, Alpha, s9n)  
* 파이썬 키워드 (print...)  


**표기법**  
+ 카멜(낙타) : myName  
+ 스네이크(뱀) : my_name  
+ 파스칼 : MyName

In [ ]:
a = 10
b = 20
f = "10"  
c = a + b  
print(a, b, c, f)

10 20 30 10

In [ ]:
a= 10
b = 20
c = "10" # 주석처리 = #
d = "20"
print(a+b)
print(a,b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
10 20
<class 'int'>
<class 'str'>
1020
10 20

In [ ]:
# 곱셈 나눗셈
a = 10  
b = 3
c = a / b #몫
e = a % b # 나머지
print(c,d,e)

3.3333333333333335 20 1

In [ ]:
# 곱셈
a = 10
b = 3
c = a * b # 곱셈
d = a**b # 제곱
print(c, d)

30 1000

#### 문자열  
1. 큰 따옴표 : "Lang Kim"  
2. 작은 따옴표 : 'Lang Kim'  
3. 큰 따옴표 3개 : """대한민국"""  
4. 작은 따옴표 3개 : '''대한민국'''  
5. "동해물과 백두산이 마르고 닳도록
kim's\"    
'''  
동해물과 백두산이  
마르고 닳도록  
우리나라 좋은 나라  
'''

In [ ]:
# 변수  
myName = "Kim Lang Ki"
my_name = "김랑기"
_my_name = "korea"
MYNAME = "코리아"
my2name = "kikiki"  
# 2myname = "맨앞에 숫자가 오면 안됨"
# my-name = "-안되고 _만가능"
# my name = "스페이스바 안됨"
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

#### 변수할당

In [ ]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [ ]:
x,y,z = "딸기", "포도", "바나나"          # x, y, x = "딸기", "포도", "바나나" / 결과값 바나나 포도 바나나 / x가 나중에 입력된 값이 바나나여서 딸기값 대신 바나나값이 나옴
print(x)
print(y)
print(z)

딸기
포도
바나나

In [ ]:
fruits = ["누가바", "쌍쌍바", "보석바"]
x, y, z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = " Life"                    # ,로 프린트하면 공백생김, +로 프린트하면 붙음 / 값지정할때 공백을 미리넣어 공백 주기 가능 
y = " is"
z = " beautiful!"
print(x, y, z)
print(x+y+z)

 Life  is  beautiful!
 Life is beautiful!

In [ ]:
a = '1'
b = '2'
c = '3'
print(a+b+c)
print(a, b, c)

123
1 2 3

데이터 바꾸기

In [ ]:
a = 1;b = 2
a,b = b,a
print(a,b)

2 1

In [ ]:
b = 2;c = 3
# c = (b=b+c) # error

In [ ]:
# len()

a = "123456"
b = [2,3,4,5]
print(len(a))
print(len(b))

6
4

#### 계산기

In [ ]:
a = 100
b = 200
result = a+b
print(a, '+', b, '=', result)
result  = a-b
print(a, '-', b, '=', result)
result  = a/b
print(a, '/', b, '=', result)
result  = a*b
print(a, '*', b, '=', result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

//

In [ ]:
a = "1234"    
b = 5678
c = int(a) + b    # 문자열을 숫자로 변환시켜서 더하기
print(c)

6912

In [ ]:
# 계산기 2
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))

print(type(num1))
result = num1 + num2
print(result)

숫자입력1: 3
숫자입력2: 4
<class 'int'>
7

In [ ]:
# 사칙연산 계산기
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))
print(type(num1))

result = num1 + num2
print(result)
result = num1 - num2
print(result)
result = num1 * num2
print(result)
result = num1 / num2
print(result)

숫자입력1: 6
숫자입력2: 3
<class 'int'>
9
3
18
2.0

In [ ]:
# 이름, 전화번호, 택배(g)x100, 결과값 = g x 100원 = n원입니다.

name = input("이름: ")
phone_Num = input("전화번호: ")
weight = int(input("무게: "))
a = '결과값 = weight x 100원 입니다.'

print(type(weight))

result = weight * 100

print(name)
print(phone_Num)
print(weight, 'g')
print(result, '결과값 = weight x 100원입니다')

이름: 우승민
전화번호: 01076310741
무게: 10
<class 'int'>
우승민
01076310741
10 g
1000 결과값 = weight x 100원입니다

2023/03/21 화

# ch2. 서식 출력 print()

In [ ]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%c" % "1")
print("%s" % "가나다라")
print("%6s" % "가나다라")
print("%6s" % "abcd")

123
  123
00123
123.450000
  123.5
123.450
1
가나다라
  가나다라
  abcd

#### 순서 지정 기능 : format

In [ ]:
print("{0:d} {1:5d} {2:05d}".format(123,456,789))

123   456 00789

In [ ]:
print("{2:d} {1:5d} {0:05d}".format(123,456,789))

789   456 00123

#### 서식 출력

In [ ]:
print("\n 줄 바꿈 명령 \n연습 입니다.")

 줄 바꿈 명령
연습 입니다.

In [ ]:
print("\t탭키 명령 \t연습입니다.")

	탭키 명령 	연습입니다.

In [ ]:
print("따옴표 글자가 \"강조\"되는 효과1")
print("따옴표 글자가 \'강조\'되는 효과1")
print("역슬래시 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \ \\ \ @을 그대로 출력")

따옴표 글자가 "강조"되는 효과1
따옴표 글자가 '강조'되는 효과1
역슬래시 3개를 출력하려면 \\\ 6개
\n \t \ \\ \ @을 그대로 출력

#### 관계 연산자

In [ ]:
a, b=10, 20
print(a==b, a!=b, a>=b, a<=b, a>b, a<b)

False True False True False True

#### 논리 연산자 and, or, not

In [ ]:
a = 150
print((a>100) and (a<200)) # 100<a<200
print((a<100) or (a<200)) # a<100, a>200 
print(not(a==100))        # a<=99, a>=101

True
True
True

In [ ]:
if(1):
  print("참이면 실행되어 보임")
if(0):
  print("거짓이면 안보임")

참이면 실행되어 보임

#### 퀴즈2 // 몫, % 나머지 int(input("입력:") 지폐 금액입력 후 동전으로 교환시 (500원, 100원, 50원, 10원) 
money, c500, c100, c50, c10
받은돈 : ?원
500원 : ?개
100원 : ?개
50원 : ?개
10원 : ?개
나머지 : ?원 

복습하기!!!!!!!!!!!!!!!!!!

In [ ]:
money, c500, c100, c50, c10 = 0, 0, 0, 0, 0

money = int(input("동전으로 교환할 돈은?: "))
temp = money

c500 = money // 500 # 몫을 구할때 // 사용함으로써 몫만 남음
money = money % 500 # 500원으로 나눴을때 나머지 / 약자로 썼을때 money %=500
c100 = money // 100
money %= 100
c50 = money // 50
money %= 50
c10 = money // 10
money %= 10

print("입력받은 돈은 %d원" % temp)
print("500원 동전 : %d 개" % c500)
print("100원 동전 : %d 개" % c100)
print("50원 동전 : %d 개" % c50)
print("10원 동전 : %d 개" % c10)
print("나머지 잔돈 : %d 원" % money)

동전으로 교환할 돈은?: 5400
입력받은 돈은 5400원
500원 동전 : 10 개
100원 동전 : 4 개
50원 동전 : 0 개
10원 동전 : 0 개
나머지 잔돈 : 0 원

#### 조건문

In [ ]:
a = 50
if(a < 100):
  print("100보다 작으면 참")
  print("거짓이면 이문장은 보이지지 않음") # 들여쓴 상태로 계속쓰면 if문 영향을 계속받음
print("프로그램 끝")

100보다 작으면 참
거짓이면 이문장은 보이지지 않음
프로그램 끝

#### else

In [ ]:
a = 200
if(a<100):
  print("참 : 100보다 작음")
else:
  print("거짓 : 조건보다 크면")
print("프로그램 끝")

거짓 : 조건보다 크면
프로그램 끝

#### 홀짝 구분

In [ ]:
# 홀짝 구분
a = int(input("숫자 입력: "))
if(a%2==0):
  print("짝수 입니다")
else:
  print("홀수 입니다")

숫자 입력: 22
짝수 입니다

#### if문 안에 if문

In [ ]:
a = int(input("숫자입력: "))
if(a>50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  if(a>25):
    print("25<a<50")
  else:
    print("a<25")

숫자입력: 33
25<a<50

#### 추가시킬때는 append

In [ ]:
fruit = ['사과', '배', '샤인머스켓', '바나나']
fruit.append('망고')    # 추가할때는 append
if '망고' in fruit :
  print("망고가 있습니다.")
print(fruit)

망고가 있습니다.
['사과', '배', '샤인머스켓', '바나나', '망고']

#### for문

In [ ]:
for i in range(1, 3, 1):  # 시작값, 끝값 + 1, 증가값
  print("%d 안녕하세요." % i)
print("환영합니다. ^^*")

1 안녕하세요.
2 안녕하세요.
환영합니다. ^^*

#### random

In [ ]:
import random
num = []
for i in range(0,6): # 증가값이 1일때는 생략가능
  num.append(random.randrange(1,46))
print("생성 리스트", num)

생성 리스트 [13, 6, 1, 7, 31, 30]

In [ ]:
for i in range(1, 9, 1):
  print("%d" % i, end = '\t') # 가로로 찍을때 end = ''   띄울때는 end = ' '
print("\n")
for i in range(1, 9, 1):
  print("%d" % i, end='\t')

1	2	3	4	5	6	7	8

1	2	3	4	5	6	7	8

In [ ]:
sum = 0
for i in range(1,11,1):
  sum = sum + i
print("1부터 10까지의 합:%d" % sum)

1부터 10까지의 합:55

In [ ]:
sum, num = 0, 0
num = int(input("숫자입력: "))
for i in range(1, num+1, 1):
  sum = sum + i
print("1~n까지의 합:%d" % sum)

숫자입력: 100
1~n까지의 합:5050

#### 구구단

In [ ]:
i, j=2, 0
for j in range(1,10,1): # 1부터 9까지 1씩 증가시켜라
  print("%d x %d = %2d" % (i, j, i * j))

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
i, j, k= 0, 0, 0
for i in range(2,10,1): # 1부터 9까지 1씩 증가시켜라
  for j in range(1,10,1):
  print("%d x %d = %2d" % (i, j, i * j))
print(" ")

IndentationError: ignored

#### quiz3 / 구구단을 만들고 2, 3, 4, 5 줄바꿔서 6, 7, 8, 9을 출력하시오

In [ ]:
i, j=2, 0
for j in range(1,10,1):
  print("%d x %d = %2d" % (i, j, i * j))

i, j=3, 0
for j in range(1,10,1):
  print(end = '' "%d x %d = %2d" % (i, j, i * j),)

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 =  33 x 2 =  63 x 3 =  93 x 4 = 123 x 5 = 153 x 6 = 183 x 7 = 213 x 8 = 243 x 9 = 27

# CH3. 자료형

## 1. 인덱스 , 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)
print(a[0])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a[-1])    #   왼쪽부터 꺼내오기 = 0 / 오른쪽부터 꺼내기 = -1
print(a[-2])

9
8

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a[1:9:2])       # 짝수
print(a[0:9:2])       # 홀수

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a[:4])        # 앞의값 생략 : 비우기
print(a[5:])        # 뒷값 생략 : 비우기

[1, 2, 3, 4]
[6, 7, 8, 9]

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(len(a))
print(len(a)-1)

9
8

In [ ]:
b = [1, 2, 3, 4, 5, 6]        # 숫자 1은 0번째 자리임
b[0] = "apple"
b[1] = 99
b[5] = [1, 2, 3]
print(b)

['apple', 99, 3, 4, 5, [1, 2, 3]]

#### list add

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a+b
print(a+b)
print(c)        # 리스트끼리 합치기가 가능하다.
print(c*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

#### 함수 이용 // 시험에 많이나올거다

In [ ]:
k = ["a", "b", "c", "d", "c"]
k.remove("c")       # 리스트중에 하나만 삭제할때는 .remove / 중복일 경우 젤 앞쪽에 있는 c를 삭제함
print(k)

k.append("f")       # 리스트중에 맨 뒤에 추가 .append
print(k)

['a', 'b', 'd', 'c']
['a', 'b', 'd', 'c', 'f']

In [ ]:
k = [1, 2, 3, 4, 5]
k.remove(3)       # 리스트중에 하나만 삭제할때는 .remove 
print(k)

k.append(6)       # 리스트중에 맨 뒤에 추가 .append
print(k)

[1, 2, 4, 5]
[1, 2, 4, 5, 6]

In [ ]:
j = "God is love!"
print(j[:3])        # 처음값만 표시 :3
print(j[4:6])       # 중간값만 표시 4:6
print(j[7:])        # 마지막값만 표시 7:
                    # 자릿수 세서 넣기

God
is
love!

In [ ]:
j = " God is love! "
print(j.upper())        # 싹다 대문자 .upper
print(j.lower())        # 싹다 소문자 .lower
print(j.strip())        # 공백없이 땅기기 .strip

 GOD IS LOVE!
 god is love!
God is love!

In [ ]:
a = "apple, mango, banana"
print(a.split(","))       # 콤마로 분류해주기 .split

['apple', ' mango', ' banana']

In [ ]:
a = ["apple", "banana", "cherry"]
a.append("Orange")        # 맨뒤 추가 .append
print(a)

['apple', 'banana', 'cherry', 'Orange']

In [ ]:
a = ["apple", "banana", "cherry"]
a.insert(1,"Orange")        # 지정한 곳에 추가 .insert (자리 지정까지)
print(a)

['apple', 'Orange', 'banana', 'cherry']

In [ ]:
a = ["apple", "banana", "cherry", "banana"]
a.remove("banana")
print(a)

['apple', 'cherry', 'banana']

In [ ]:
a= ["apple", "banana", "cherry"]
a.pop()       # 맨 뒤 지워줌
print(a)

a.pop(1)        # 자리수 지정 지우기가능
print(a)

['apple', 'banana']
['apple']

#### for문 같이

In [ ]:
fruit = ["사과", "배", "오렌지"]
for i in fruit:
    print(i)

사과
배
오렌지

In [ ]:
fruit = ["감", "밤", "대추", "배"]
for i in range(len(fruit)):       # 길이만큼 다시 반복
  print(fruit)

['감', '밤', '대추', '배']
['감', '밤', '대추', '배']
['감', '밤', '대추', '배']
['감', '밤', '대추', '배']

#### SORT : 정렬

In [ ]:
a = [7, 5, 3, 8, 2, 0, 1, 4, 6, 9]
a.sort()        # 순서대로 정렬 .sort
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = [7, 5, 3, 8, 2, 0, 1, 4, 6, 9]
a.sort(reverse = True)        # 역순으로 정렬 .sort(reverse = True) 
print(a)

a.sort()
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
fruit = ["Kiwi", "apple", "Orange", "banana"]
fruit.sort()        # 문자를 sort시 대문자 소문자 순 정렬, 그 이후로 a,b,c 순으로 정렬
print(fruit)

fruit.sort(key=str.lower)       # 대소문자 무시 알파벳순 정렬 .sort(key=str.lower) 
print(fruit)

fruit.reverse()
print(fruit)

['Kiwi', 'Orange', 'apple', 'banana']
['apple', 'banana', 'Kiwi', 'Orange']
['Orange', 'Kiwi', 'banana', 'apple']

#### List 복사

In [ ]:
fruit = ["Kiwi", "apple", "Orange", "banana"]
mylist = fruit.copy()       # fruit과 같이 mylist에 복사하기 .copy()
print(mylist)
cylist = list(fruit)        # fruit과 같이 cylist에 복사하기 list(fruit)
print(cylist)

['Kiwi', 'apple', 'Orange', 'banana']
['Kiwi', 'apple', 'Orange', 'banana']

#### Tuple 튜플

In [ ]:
l = [1, 2, 3]
t = (5, 6, 7)       # 영문자 l, t로 차이 나는것이 아닌 괄호로 인해 차이나기때문에 괄호 신경쓰기
print(type(l))
print(type(t))

<class 'list'>
<class 'tuple'>

In [ ]:
l = [1, 2, 3]
t = (5, 6, 7)
l[0] = 4        # 0번자리(1)에 4 삽입
print(l)

# t[0] = 8        # tuple은 변경 불가능
print(t)

[4, 2, 3]
(5, 6, 7)

In [ ]:
f = ("apple", "banana", "cherry")
print(len(f))       # 괄호형 안에 있는 문자갯수

3

In [ ]:
t = ("kiwi", )        # 튜플로 인식하기 위해 "," 필요함
print(t)

print(type(t))        # ("kiwi")로 넣으면 <class 'str'> 로 출력되기 때문에 ("kiwi", ) 콤마를 넣어줘야한다 : <class 'tuple'> 로 출력됨

('kiwi',)
<class 'tuple'>

In [ ]:
f = ("banana", "apple", "kiwi", "cherry", "0range")
print(f[:4])        # 앞에서부터 4개 출력

print(f[2:])        # 앞에서부터 2개 띄고 출력

('banana', 'apple', 'kiwi', 'cherry')
('kiwi', 'cherry', '0range')

#### if문 넣어보기

In [ ]:
f = ("banana", "kiwi", "cherry", "0range")
if "apple" in f:        # 만약 apple 이 있다면
  print("yes")        # yes 출력

else:       # 아니면
  print("no")       # no 출력

no

#### Tuple을 List로 바꾸기

In [ ]:
# 튜플에 추가하는 방법  / 튜플 -> 리스트로 변환 -> append로 추가하기 -> 튜플로 변환
t = ("apple", "banana", "cherry")

# 오렌지를 추가하기 위해 리스트로 바꾸기
y = list(t)
print(type(y))        # 리스트로 바뀌었는지 타입으로 체크하기

# 리스트에 추가하기 위해 append
y.append("Orange")

# 다시 튜플로 바꾸기
t = tuple(y)

# 결과값 확인 출력하기
print(t)

<class 'list'>
('apple', 'banana', 'cherry', 'Orange')

In [ ]:
# List -> Tuple

# List 지정
company = ["LG", "SK", "Apple"]

# 튜플로 전환
t = tuple(company)

# 리스트와 튜플 차이 결과값으로 확인하기
print(company)        # 리스트는 []로 표시, 튜플은 ()로 표시
print(t)

['LG', 'SK', 'Apple']
('LG', 'SK', 'Apple')

In [ ]:
c = ("LG", "SK", "Apple")
d = ("Samsung", )       # 하나만 있을경우에도 , 찍고 마무리하기

# 튜플끼리 더하기 가능?
c += d        # c = c + d
print(c)

('LG', 'SK', 'Apple', 'Samsung')

In [ ]:
# tuple 지정
t = ("감", "밤", "대추")

# list로 바꾸기
l = list(t)

# 삭제할 내용 입력
l.remove("대추")

# list를 tuple로 변환
t = tuple(l)

# 출력
print(t)

('감', '밤')

#### [.] 리스트 / (.) 튜플 / {.} 사전자료

사전자료형의 키값은 변경 불가능

#### 3.Dict 사전자료형

In [ ]:
# 사전자료형 값 지정
d = {
    'a':1,
     'b':2,
     'c':3
}

# 출력
print(d)
print(type(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [ ]:
# 사전자료형 값 지정
d = {
    'a':1,
     'b':2,
     'c':3
}

# key값으로 출력
print(d.keys())

# values값으로 출력
print(d.values())

# items값으로 출력
print(d.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
# 사전자료형 지정
car = {
    "maker" : "Hyundai",
    "model" : "Pony2",
    "year" : 1994
}

# 출력
print(car)

# 자료갯수 확인
print(len(car))

# 내용 바꾸기
car["year"] = 2000
print(car)

# 자료 추가하기
car["color"] = "Blue"

# 확인
print(car)

# 없는자료 넣어보기
# print(car["none kode"])       # 없는 자료를 출력시 오류남

{'maker': 'Hyundai', 'model': 'Pony2', 'year': 1994}
3
{'maker': 'Hyundai', 'model': 'Pony2', 'year': 2000}
{'maker': 'Hyundai', 'model': 'Pony2', 'year': 2000, 'color': 'Blue'}

In [ ]:
# 사전자료형 지정
car = {
    "maker" : "BMW",
    "model" : "740Li",
    "year" : 2023
}

# 자료 지우기 (해당 키값 삭제)
car.pop("model")

# 확인
print(car)

{'maker': 'BMW', 'year': 2023}

In [ ]:
# 사전자료형 지정
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}

# 다른방식으로 자료 지우기    # 맨뒤 자료 삭제
car.popitem()

# 확인
print(car)

{'maker': 'BMW', 'model': 'GT'}

In [ ]:
# 사전자료형 지정
car = {
    "maker" : "BMW",
    "model" : "740Li",
    "year" : 2023
}

# 모든자료 삭제
car.clear()

# 확인
print(car)

# 자료 채우기
car["maker"] = "KIA"

# 확인
print(car)

{}
{'maker': 'KIA'}

In [ ]:
# 사전자료형 지정
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}

# del로 지우면 모든게 다 지워지기 때문에 오류가 난다.
#del(car)
#print(car)

#### Loop

In [ ]:
# 사전자료형 지정
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}

# for문으로 자료 확인
for x in car :
  print(car[x])

BMW
i4
2023

In [ ]:
# 사전자료형 지정
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}

# for문으로 자료 키값만 확인
for x in car.keys():
  print(x)

maker
model
year

In [ ]:
# 사전자료형 지정
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}

# for문으로 자료 밸류값만 확인
for x in car.values():
  print(x)

BMW
GT
2023

In [ ]:
# 사전자료형 지정
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}

# for문으로 자료 아이템값만 확인
for x,y in car.items():
  print(x, y)

maker BMW
model GT
year 2023

In [ ]:
# 사전자료형 지정
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}

# 지정한 사전자료 카피
myCar = car.copy()

# 확인
print(myCar)

{'maker': 'BMW', 'model': 'i4', 'year': 2023}

In [ ]:
# 사전자료형 지정
food = {
    "brand" : "Lotte",
    "model" : "Ice Cream",
    "price" : 2000
}

# 카피하는 다른방법
myFood = dict(food)

# 확인
print(myFood)

{'brand': 'Lotte', 'model': 'Ice Cream', 'price': 2000}

In [ ]:
# 사전자료형 지정
name1 = {"name":"우승민", "year" : 2000}
name2 = {"name":"박성환", "year" : 2001}
name3 = {"name":"우승준", "year" : 2002}

# family로 묶기
family = {
    "name1" : name1,
    "name2" : name2,
    "name3" : name3
}

# 확인
print(family)

{'name1': {'name': '우승민', 'year': 2000}, 'name2': {'name': '박성환', 'year': 2001}, 'name3': {'name': '우승준', 'year': 2002}}

In [26]:
# 과제 / 노가다로 하지말고 for문 사용하여 간단하게 작성하기
name = input("이름: ")
phone_Num = input("전화번호: ")

name2 = input("이름: ")
phone_Num2 = input("전화번호: ")

name3 = input("이름: ")
phone_Num3 = input("전화번호: ")

a = {"이름" : name, "번호" : phone_Num}
b = {"이름" : name2, "번호" : phone_Num2}
c = {"이름" : name3, "번호" : phone_Num3}

print(a, b, c)

이름: 재준이
전화번호: 01012121212
이름: 도영이
전화번호: 01034343434
이름: 연진이
전화번호: 01056565656
{'이름': '재준이', '번호': '01012121212'} {'이름': '도영이', '번호': '01034343434'} {'이름': '연진이', '번호': '01056565656'}

In [27]:
# 과제 / for문 사용 간단하게 작성
friend = {}

for i in range(3):
    name = input(f"이름 {i+1} 입력: ")
    phonenumber = input(f"{name}의 전화 번호 입력: ")
    friend[name] = phonenumber

print(friend)

이름 1 입력: 재준이
재준이의 전화 번호 입력: 01012121212
이름 2 입력: 도영이
도영이의 전화 번호 입력: 01034343434
이름 3 입력: 연진이
연진이의 전화 번호 입력: 01056565656
{'재준이': '01012121212', '도영이': '01034343434', '연진이': '01056565656'}