<a href="https://colab.research.google.com/github/als3057/python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch1. 파이썬 문법  
## 자료형  
**숫자형**  
* 정수 : 123, 456, 0, -30  
* 실수 : 12, 345, -987, 65, 0.7e6  
* 8진수 : 0o765, 0o123  
* 16진수 : 0x00, 0x0A, 0xFF  

**변수**
* 문자, 또는 밑줄로 시작(_kim, alpha)  
* 대소문자 구분(sum, Sum, SUM)  
* 영문자, 숫자, 밑줄(A-z, 0-9, _)  
 ex) sun_9, Alpha, s9n)  
* 파이썬 키워드 (print...)  


**표기법**  
+ 카멜(낙타) : myName  
+ 스네이크(뱀) : my_name  
+ 파스칼 : MyName

In [ ]:
a = 10
b = 20
f = "10"  
c = a + b  
print(a, b, c, f)

10 20 30 10

In [ ]:
a= 10
b = 20
c = "10" # 주석처리 = #
d = "20"
print(a+b)
print(a,b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
10 20
<class 'int'>
<class 'str'>
1020
10 20

In [ ]:
# 곱셈 나눗셈
a = 10  
b = 3
c = a / b #몫
e = a % b # 나머지
print(c,d,e)

3.3333333333333335 20 1

In [ ]:
# 곱셈
a = 10
b = 3
c = a * b # 곱셈
d = a**b # 제곱
print(c, d)

30 1000

#### 문자열  
1. 큰 따옴표 : "Lang Kim"  
2. 작은 따옴표 : 'Lang Kim'  
3. 큰 따옴표 3개 : """대한민국"""  
4. 작은 따옴표 3개 : '''대한민국'''  
5. "동해물과 백두산이 마르고 닳도록
kim's\"    
'''  
동해물과 백두산이  
마르고 닳도록  
우리나라 좋은 나라  
'''

In [ ]:
# 변수  
myName = "Kim Lang Ki"
my_name = "김랑기"
_my_name = "korea"
MYNAME = "코리아"
my2name = "kikiki"  
# 2myname = "맨앞에 숫자가 오면 안됨"
# my-name = "-안되고 _만가능"
# my name = "스페이스바 안됨"
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

#### 변수할당

In [ ]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [ ]:
x,y,z = "딸기", "포도", "바나나"          # x, y, x = "딸기", "포도", "바나나" / 결과값 바나나 포도 바나나 / x가 나중에 입력된 값이 바나나여서 딸기값 대신 바나나값이 나옴
print(x)
print(y)
print(z)

딸기
포도
바나나

In [ ]:
fruits = ["누가바", "쌍쌍바", "보석바"]
x, y, z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = " Life"                    # ,로 프린트하면 공백생김, +로 프린트하면 붙음 / 값지정할때 공백을 미리넣어 공백 주기 가능 
y = " is"
z = " beautiful!"
print(x, y, z)
print(x+y+z)

 Life  is  beautiful!
 Life is beautiful!

In [ ]:
a = '1'
b = '2'
c = '3'
print(a+b+c)
print(a, b, c)

123
1 2 3

데이터 바꾸기

In [ ]:
a = 1;b = 2
a,b = b,a
print(a,b)

2 1

In [ ]:
b = 2;c = 3
# c = (b=b+c) # error

In [ ]:
# len()

a = "123456"
b = [2,3,4,5]
print(len(a))
print(len(b))

6
4

#### 계산기

In [ ]:
a = 100
b = 200
result = a+b
print(a, '+', b, '=', result)
result  = a-b
print(a, '-', b, '=', result)
result  = a/b
print(a, '/', b, '=', result)
result  = a*b
print(a, '*', b, '=', result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

//

In [ ]:
a = "1234"    
b = 5678
c = int(a) + b    # 문자열을 숫자로 변환시켜서 더하기
print(c)

6912

In [ ]:
# 계산기 2
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))

print(type(num1))
result = num1 + num2
print(result)

숫자입력1: 3
숫자입력2: 4
<class 'int'>
7

In [ ]:
# 사칙연산 계산기
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))
print(type(num1))

result = num1 + num2
print(result)
result = num1 - num2
print(result)
result = num1 * num2
print(result)
result = num1 / num2
print(result)

숫자입력1: 6
숫자입력2: 3
<class 'int'>
9
3
18
2.0

In [ ]:
# 이름, 전화번호, 택배(g)x100, 결과값 = g x 100원 = n원입니다.

name = input("이름: ")
phone_Num = input("전화번호: ")
weight = int(input("무게: "))
a = '결과값 = weight x 100원 입니다.'

print(type(weight))

result = weight * 100

print(name)
print(phone_Num)
print(weight, 'g')
print(result, '결과값 = weight x 100원입니다')

이름: 승민
전화번호: 7631074
무게: 55
<class 'int'>
승민
7631074
55 g
5500 결과값 = weight x 100원입니다