<a href="https://colab.research.google.com/github/als3057/python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch1. 파이썬 문법  
## 자료형  
**숫자형**  
* 정수 : 123, 456, 0, -30  
* 실수 : 12, 345, -987, 65, 0.7e6  
* 8진수 : 0o765, 0o123  
* 16진수 : 0x00, 0x0A, 0xFF  

**변수**
* 문자, 또는 밑줄로 시작(_kim, alpha)  
* 대소문자 구분(sum, Sum, SUM)  
* 영문자, 숫자, 밑줄(A-z, 0-9, _)  
 ex) sun_9, Alpha, s9n)  
* 파이썬 키워드 (print...)  


**표기법**  
+ 카멜(낙타) : myName  
+ 스네이크(뱀) : my_name  
+ 파스칼 : MyName

In [ ]:
a = 10
b = 20
f = "10"  
c = a + b  
print(a, b, c, f)

10 20 30 10

In [ ]:
a= 10
b = 20
c = "10" # 주석처리 = #
d = "20"
print(a+b)
print(a,b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
10 20
<class 'int'>
<class 'str'>
1020
10 20

In [ ]:
# 곱셈 나눗셈
a = 10  
b = 3
c = a / b #몫
e = a % b # 나머지
print(c,d,e)

3.3333333333333335 20 1

In [ ]:
# 곱셈
a = 10
b = 3
c = a * b # 곱셈
d = a**b # 제곱
print(c, d)

30 1000

#### 문자열  
1. 큰 따옴표 : "Lang Kim"  
2. 작은 따옴표 : 'Lang Kim'  
3. 큰 따옴표 3개 : """대한민국"""  
4. 작은 따옴표 3개 : '''대한민국'''  
5. "동해물과 백두산이 마르고 닳도록
kim's\"    
'''  
동해물과 백두산이  
마르고 닳도록  
우리나라 좋은 나라  
'''

In [ ]:
# 변수  
myName = "Kim Lang Ki"
my_name = "김랑기"
_my_name = "korea"
MYNAME = "코리아"
my2name = "kikiki"  
# 2myname = "맨앞에 숫자가 오면 안됨"
# my-name = "-안되고 _만가능"
# my name = "스페이스바 안됨"
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

#### 변수할당

In [ ]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [ ]:
x,y,z = "딸기", "포도", "바나나"          # x, y, x = "딸기", "포도", "바나나" / 결과값 바나나 포도 바나나 / x가 나중에 입력된 값이 바나나여서 딸기값 대신 바나나값이 나옴
print(x)
print(y)
print(z)

딸기
포도
바나나

In [ ]:
fruits = ["누가바", "쌍쌍바", "보석바"]
x, y, z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = " Life"                    # ,로 프린트하면 공백생김, +로 프린트하면 붙음 / 값지정할때 공백을 미리넣어 공백 주기 가능 
y = " is"
z = " beautiful!"
print(x, y, z)
print(x+y+z)

 Life  is  beautiful!
 Life is beautiful!

In [ ]:
a = '1'
b = '2'
c = '3'
print(a+b+c)
print(a, b, c)

123
1 2 3

데이터 바꾸기

In [ ]:
a = 1;b = 2
a,b = b,a
print(a,b)

2 1

In [ ]:
b = 2;c = 3
# c = (b=b+c) # error

In [ ]:
# len()

a = "123456"
b = [2,3,4,5]
print(len(a))
print(len(b))

6
4

#### 계산기

In [ ]:
a = 100
b = 200
result = a+b
print(a, '+', b, '=', result)
result  = a-b
print(a, '-', b, '=', result)
result  = a/b
print(a, '/', b, '=', result)
result  = a*b
print(a, '*', b, '=', result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

//

In [ ]:
a = "1234"    
b = 5678
c = int(a) + b    # 문자열을 숫자로 변환시켜서 더하기
print(c)

6912

In [ ]:
# 계산기 2
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))

print(type(num1))
result = num1 + num2
print(result)

숫자입력1: 3
숫자입력2: 4
<class 'int'>
7

In [ ]:
# 사칙연산 계산기
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))
print(type(num1))

result = num1 + num2
print(result)
result = num1 - num2
print(result)
result = num1 * num2
print(result)
result = num1 / num2
print(result)

숫자입력1: 6
숫자입력2: 3
<class 'int'>
9
3
18
2.0

In [ ]:
# 이름, 전화번호, 택배(g)x100, 결과값 = g x 100원 = n원입니다.

name = input("이름: ")
phone_Num = input("전화번호: ")
weight = int(input("무게: "))
a = '결과값 = weight x 100원 입니다.'

print(type(weight))

result = weight * 100

print(name)
print(phone_Num)
print(weight, 'g')
print(result, '결과값 = weight x 100원입니다')

이름: 우승민
전화번호: 01076310741
무게: 10
<class 'int'>
우승민
01076310741
10 g
1000 결과값 = weight x 100원입니다

2023/03/21 화

# ch2. 서식 출력 print()

In [ ]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%c" % "1")
print("%s" % "가나다라")
print("%6s" % "가나다라")
print("%6s" % "abcd")

123
  123
00123
123.450000
  123.5
123.450
1
가나다라
  가나다라
  abcd

#### 순서 지정 기능 : format

In [ ]:
print("{0:d} {1:5d} {2:05d}".format(123,456,789))

123   456 00789

In [ ]:
print("{2:d} {1:5d} {0:05d}".format(123,456,789))

789   456 00123

#### 서식 출력

In [ ]:
print("\n 줄 바꿈 명령 \n연습 입니다.")

 줄 바꿈 명령
연습 입니다.

In [ ]:
print("\t탭키 명령 \t연습입니다.")

	탭키 명령 	연습입니다.

In [43]:
print("따옴표 글자가 \"강조\"되는 효과1")
print("따옴표 글자가 \'강조\'되는 효과1")
print("역슬래시 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \ \\ \ @을 그대로 출력")

따옴표 글자가 "강조"되는 효과1
따옴표 글자가 '강조'되는 효과1
역슬래시 3개를 출력하려면 \\\ 6개
\n \t \ \\ \ @을 그대로 출력

#### 관계 연산자

In [44]:
a, b=10, 20
print(a==b, a!=b, a>=b, a<=b, a>b, a<b)

False True False True False True

#### 논리 연산자 and, or, not

In [49]:
a = 150
print((a>100) and (a<200)) # 100<a<200
print((a<100) or (a<200)) # a<100, a>200 
print(not(a==100))        # a<=99, a>=101

True
True
True

In [52]:
if(1):
  print("참이면 실행되어 보임")
if(0):
  print("거짓이면 안보임")

참이면 실행되어 보임

#### 퀴즈2 // 몫, % 나머지 int(input("입력:") 지폐 금액입력 후 동전으로 교환시 (500원, 100원, 50원, 10원) 
money, c500, c100, c50, c10
받은돈 : ?원
500원 : ?개
100원 : ?개
50원 : ?개
10원 : ?개
나머지 : ?원 

복습하기!!!!!!!!!!!!!!!!!!

In [74]:
money, c500, c100, c50, c10 = 0, 0, 0, 0, 0

money = int(input("동전으로 교환할 돈은?: "))
temp = money

c500 = money // 500 # 몫을 구할때 // 사용함으로써 몫만 남음
money = money % 500 # 500원으로 나눴을때 나머지 / 약자로 썼을때 money %=500
c100 = money // 100
money %= 100
c50 = money // 50
money %= 50
c10 = money // 10
money %= 10

print("입력받은 돈은 %d원" % temp)
print("500원 동전 : %d 개" % c500)
print("100원 동전 : %d 개" % c100)
print("50원 동전 : %d 개" % c50)
print("10원 동전 : %d 개" % c10)
print("나머지 잔돈 : %d 원" % money)

동전으로 교환할 돈은?: 5400
입력받은 돈은 5400원
500원 동전 : 10 개
100원 동전 : 4 개
50원 동전 : 0 개
10원 동전 : 0 개
나머지 잔돈 : 0 원

#### 조건문

In [77]:
a = 50
if(a < 100):
  print("100보다 작으면 참")
  print("거짓이면 이문장은 보이지지 않음") # 들여쓴 상태로 계속쓰면 if문 영향을 계속받음
print("프로그램 끝")

100보다 작으면 참
거짓이면 이문장은 보이지지 않음
프로그램 끝

#### else

In [80]:
a = 200
if(a<100):
  print("참 : 100보다 작음")
else:
  print("거짓 : 조건보다 크면")
print("프로그램 끝")

거짓 : 조건보다 크면
프로그램 끝

#### 홀짝 구분

In [82]:
# 홀짝 구분
a = int(input("숫자 입력: "))
if(a%2==0):
  print("짝수 입니다")
else:
  print("홀수 입니다")

숫자 입력: 22
짝수 입니다

#### if문 안에 if문

In [89]:
a = int(input("숫자입력: "))
if(a>50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  if(a>25):
    print("25<a<50")
  else:
    print("a<25")

숫자입력: 33
25<a<50

#### 추가시킬때는 append

In [93]:
fruit = ['사과', '배', '샤인머스켓', '바나나']
fruit.append('망고')    # 추가할때는 append
if '망고' in fruit :
  print("망고가 있습니다.")
print(fruit)

망고가 있습니다.
['사과', '배', '샤인머스켓', '바나나', '망고']

#### for문

In [96]:
for i in range(1, 3, 1):  # 시작값, 끝값 + 1, 증가값
  print("%d 안녕하세요." % i)
print("환영합니다. ^^*")

1 안녕하세요.
2 안녕하세요.
환영합니다. ^^*

#### random

In [98]:
import random
num = []
for i in range(0,6): # 증가값이 1일때는 생략가능
  num.append(random.randrange(1,46))
print("생성 리스트", num)

생성 리스트 [13, 6, 1, 7, 31, 30]

In [103]:
for i in range(1, 9, 1):
  print("%d" % i, end = '\t') # 가로로 찍을때 end = ''   띄울때는 end = ' '
print("\n")
for i in range(1, 9, 1):
  print("%d" % i, end='\t')

1	2	3	4	5	6	7	8

1	2	3	4	5	6	7	8

In [107]:
sum = 0
for i in range(1,11,1):
  sum = sum + i
print("1부터 10까지의 합:%d" % sum)

1부터 10까지의 합:55

In [109]:
sum, num = 0, 0
num = int(input("숫자입력: "))
for i in range(1, num+1, 1):
  sum = sum + i
print("1~n까지의 합:%d" % sum)

숫자입력: 100
1~n까지의 합:5050

#### 구구단

In [111]:
i, j=2, 0
for j in range(1,10,1): # 1부터 9까지 1씩 증가시켜라
  print("%d x %d = %2d" % (i, j, i * j))

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [112]:
i, j, k= 0, 0, 0
for i in range(2,10,1): # 1부터 9까지 1씩 증가시켜라
  for j in range(1,10,1):
  print("%d x %d = %2d" % (i, j, i * j))
print(" ")

IndentationError: ignored

#### quiz3 / 구구단을 만들고 2, 3, 4, 5 줄바꿔서 6, 7, 8, 9을 출력하시오

In [134]:
i, j=2, 0
for j in range(1,10,1):
  print("%d x %d = %2d" % (i, j, i * j))

i, j=3, 0
for j in range(1,10,1):
  print(end = '' "%d x %d = %2d" % (i, j, i * j),)

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 =  33 x 2 =  63 x 3 =  93 x 4 = 123 x 5 = 153 x 6 = 183 x 7 = 213 x 8 = 243 x 9 = 27